* {
  box-sizing: border-box;
}

.comment-box__item {
  padding: 1rem;
}

.comment-box__item--header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;  
  border-top: 1px solid #ccc;
}

.comment-form {
  display: flex;
  width: 100%;
  gap: 0;
}

.comment-form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
}

.comment-form__group {
  display: flex;
  width: 100%;
}

.comment-form__input {
  padding: 1rem;
  width: 100%;
  border: none;
}

.comment-form__input--password {
  border-left: 1px solid #ccc;
}

.comment-form__input--comment {
  border-top: 1px solid #ccc;
}

.comment-form__button {
  display: block;
  padding: 2rem;
  width: 8rem;
  background-color: #ccc;
  border: none;
  color: white;
  cursor: pointer;
}

.comment-form__button:hover {
  background-color: #808080;
}
