<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .error {
      color: red;
    }
  </style>
</head>
<body>
<form action="new-form.html" th:action="@{/members/add}" th:object="${member}" method="post">
  <div th:if="${#fields.hasGlobalErrors()}">
    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
  </div>
  <div>
    username: <input type="text" name="name" th:field="*{name}"/>
    <p class="error" th:errors="*{name}"></p>
  </div>
  <div>
    password: <input type="password" name="password" th:field="*{password}"/>
    <p class="error" th:errors="*{password}"></p>
  </div>
  <div>
    money: <input type="text" name="money" th:field="*{money}"/>
    <p class="error" th:errors="*{money}"></p>
  </div>
  <button type="submit">전송</button>
</form>
</body>
</html>
